[submodule "Machine"]
	path = Machine
	url = https://github.com/MACC-PBL1/Machine.git
[submodule "Auth"]
	path = Auth
	url = https://github.com/MACC-PBL1/Auth.git
[submodule "Order"]
	path = Order
	url = https://github.com/MACC-PBL1/Order.git
[submodule "Delivery"]
	path = Delivery
	url = https://github.com/MACC-PBL1/Delivery.git
[submodule "Payment"]
	path = Payment
	url = https://github.com/MACC-PBL1/Payment.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/MACC-PBL1/Logger.git
[submodule "Warehouse"]
	path = Warehouse
	url = https://github.com/MACC-PBL1/Warehouse.git
[submodule "Honeypot"]
	path = Honeypot
	url = https://github.com/MACC-PBL1/Honeypot.git
