[submodule "Machine"]
	path = Machine
	url = https://github.com/monolith2microservice/Machine.git
[submodule "Auth"]
	path = Auth
	url = https://github.com/monolith2microservice/Auth.git
[submodule "Order"]
	path = Order
	url = https://github.com/monolith2microservice/Order.git
[submodule "Delivery"]
	path = Delivery
	url = https://github.com/monolith2microservice/Delivery.git
[submodule "Payment"]
	path = Payment
	url = https://github.com/monolith2microservice/Payment.git
[submodule "event-logger"]
	path = event-logger
	url = https://github.com/monolith2microservice/event-logger.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/monolith2microservice/Logger.git
