apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    uid: InfluxDB
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: myorg
      defaultBucket: events
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-auth-token
    editable: true
    isDefault: true