global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

resolvers consul_dns
    nameserver consul "${CONSUL_HOST}:${CONSUL_PORT}"
    accepted_payload_size 8192
    hold valid 5s

# -------------------------------------
frontend https_frontend
    bind *:443 ssl crt /etc/ssl/certs/haproxy_server.pem
    bind *:80
    
    # Redirect HTTP to HTTPS
    redirect scheme https code 301 if !{ ssl_fc }
    
    # CORS headers
    http-response set-header Access-Control-Allow-Origin "*"
    http-response set-header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    http-response set-header Access-Control-Allow-Headers "Content-Type, Authorization"
    
    # Rutas del Auth Service
    acl is_auth_service path_beg /auth
    use_backend auth_service if is_auth_service

# Auth Service Backend
backend auth_service
    balance roundrobin
    option httpchk GET /auth/health
    http-check expect status 200
    server-template auth 1-5 auth.service.consul:8000 check resolvers consul_dns init-addr none inter 2000 fastinter 500 downinter 1000 fall 2 rise 1

listen stats #http://localhost:8404/stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s